body{
  background-color: rgb(249, 211, 165);
}
div {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 20% 60% 20% ;
  grid-template-areas:
    "header header header"
    "left main right"
    "left bilder right"
    "left rubrik-bilder right"
    "left om-mig right"
    "footer footer footer";
}

header {
  grid-area: header;
  position: sticky;
  top: 0px;
  background-color: blanchedalmond;
  text-align: center;
}
#bilder{
  display: flex;
  justify-content: center;
}
#bilder img{
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.om-mig{
  display: grid;
}
.left {
  grid-area: left;
  background-color: blanchedalmond;
}

main {
  grid-area: main;
}

.right {
  grid-area: right;
  background-color:blanchedalmond;
}

.footer {
  grid-area: footer;
  background-color: grey;
  height: 90px;
}