body{
    background-color: bisque;
}
.meny{
    grid-area: meny;
    background-color: blanchedalmond;
    height: 100px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0%;
}
.hemsidansnamn{
    font-size: 40px;
}
.meny ul{
    list-style: none;
    /*listan går horisontellt*/
    display: flex;
}
.meny ul li{
padding: 10px 30px;
    /*Mellanrum*/
}
.meny ul li a{
    color: black;
    text-decoration: none;  
    /*Listans färg och understreck försvinner*/
}
.meny ul li a:hover{
    color: rgb(103, 100, 100);
    /*Synligheten när man lägger musen på*/
}
.intro{
    width: 100%;
    top: 50%;
    text-align: center;
}
.grid{
    width: 100%;
    display: grid;
    /*Avstånd för varje column*/
    grid-auto-flow: column;
    /*kolumn eller rad*/
    grid-template-columns: 25% 25% 25%;
    gap: 1.5em;
    text-align: center;
    background-color: rgb(216, 231, 245);
}
.bilder{
    margin:5rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
img{
    width: 200px;
    height: 300px;
}
.rubrikportfolio{
    text-align: center;
    margin-top: 90px;
}