body{
  background-image: url(beigebakgrund.jpg);
}
div {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 12% 76% 12% ;
  grid-template-areas:
    "header header header"
    "left main right"
    "left bilder right"
    "left rubrik-bilder right"
    "left om-mig right"
    "footer footer footer";
}
/*jag använder mig utav grid layout, för att placering av vad allt ska hamna i hemsidan*/
header {
  grid-area: header;
  position: sticky;
  top: 0px;
  background-color: rgb(252, 245, 235);
  text-align: center;
}
#bilder{
  display: flex;
  justify-content: center;
}
/*här använder mig utav display flex eftersom jag ska kunna vara specifik med bilderna med placeringen*/
#bilder img{
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.om-mig{
  display: grid;
}
.left {
  grid-area: left;
  background-color: rgb(252, 245, 235);
}
.left ul{
  list-style: none;
  /*tar bort prickarna i listan*/
  padding: 0;
}
.left li{
  margin-bottom: 10px;
}
.left ul li a{
  text-decoration: none;
  color: black;
  margin: 20px;
  font-size: 25px;
}
.left li:hover{
  background-color:  white;
}
/*detta är när man placerar musen över menyn flikarna så kommer det en vit bakgrund*/
main {
  grid-area: main;
}
.right {
  grid-area: right;
  background-color:rgb(252, 245, 235);
}
#meddelande{
  width: auto;
  height: 150px;
}
.footer {
  grid-area: footer;
  background-color: rgb(251, 245, 245);
  height: auto;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  margin-top: 25px;
  text-decoration: none;
}
.fa-facebook-official{
  color: rgb(68, 68, 198);
}
/*ändra färgen på just en ikon*/
.fa-phone{
  color: black;
}
.fa-instagram{
  color: rgb(132, 38, 117);
}
.fa-youtube{
  color: rgb(237, 29, 29);
}
/*anpassad för iphone SE*/
@media only screen and (max-width:400px){
  body{
    font-size: 10px;
  }
.left{
  font-size: 35px;
}
img{
  max-width: 20%;
}
.left ul li a{
  font-size: 25%;
  display: grid;
  justify-content: center;
}
}
/*anpassad för ipad mini*/
@media only screen and (min-width:900px){
}